doctype html
head
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/css/uikit.min.css")
    title= title
h1.uk-heading-small.uk-padding.uk-text-success Термин найден
#container.col.uk-card.uk-width-1-3.uk-text-center
    h1.uk-card-title.uk-text-uppercase= name
    p.uk-text-bold= value